.category-btn {
    transition: all 0.1s ease-in;
    .category-action-btn {
        transition: all 0.1s ease-in;
        opacity: .4;
        /* visibility: hidden; */
    }
    &:hover {
        transition: all 0.1s ease-in;
        background-color: rgb(239, 239, 239);
        .category-action-btn {
        /* transition: all 0.1s ease-in; */
            opacity: 1;
            /* visibility: visible; */
        }
    }
}