.slider-container {
    .slick-track {
        display: flex;
        align-items: center;
    }
    .slick-slide.slick-cloned img{
        visibility: hidden !important;
    }
    .slick-prev:before, .slick-next:before {
        color: orange !important;
        position: relative;
    }
    .slick-dots.slick-thumb{
        transform: translateY(50px);
        li {
            width: 70px;
            height: 70px;
            object-fit: cover !important;
            a {
                width: 100%;
                height: 100%;
                object-fit: cover !important;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover !important;
                }
            }
        }
    }
}