.image {
    background-image: url('../../assets/img/subastasapp.jpg');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .image {
        background-position: top left;
        background-size: cover;
    }
}

