.card-auction-status {
    background: linear-gradient(180deg, rgba(0,0,0,0.0) 0%,rgba(0, 0, 0, 0.226) 30%, rgb(48, 48, 48) 95%);
    text-align: center;
    color: rgb(240, 240, 240);
    min-height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-auction-status__time{
        display: flex;
        gap: 9px;
        justify-content: center;
        .card-auction-status__time-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3px;
            .numb {
                font-size: 16px;
                font-weight: bold;
                border-radius: 7px;
                border: 1px solid rgba(240, 240, 240, 0.631);
                padding: 3px 5px;
            }
        }
    } 
}

.card-box-button {
    button {
        width: 100%;
        border-top: 1px solid #e5e7eb;
        padding: .5rem 0;
    }
}