.inputImage input{
    border: 1px dashed lightgray;
    text-align: center;
}

.new-product .slick-prev,.new-product .slick-next {
    display: none !important;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; } */

