@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: '#FF8232';
  --secondary: '#737373';
  --white: '#FFFFFF';
}
body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    background-color: rgb(238, 238, 238);
    background:radial-gradient(125% 125% at 50 10%, #f5f5f5 40%,#ff8132 100%)
  }
}


@import '../assets/styles/home.css';
@import '../assets/styles/about-us.css';
@import '../assets/styles/utilities.css';