

.banner3-box {
    display: flex;
    .banner3-box-button {
        position: absolute;
        z-index: 50;
        opacity: 0;
        transform: translateY(-50px);
    }
    &:hover {
        /* background: red !important; */
        z-index: 60;
        .banner3-box-button {
            position: absolute;
            z-index: 50;
            opacity: 1;
            transform: translateY(100px);
        }
    }
}


@media (max-width: 768px) {
    .banner3-box {
        &:hover {
            .banner3-box-button {
                transform: translateY(40px);
            }
        }
    }
}