
.container-auction {
    max-width: 1200px;
    margin: 4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.link-standard {
    color:#FF8232;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        color: #FFB84D;
    }
}


@media (min-width:1200px) {
    .container-auction {
        margin: 4rem auto;
    }
}

/*

==========================================
SWAL
==========================================

*/

button:where(.swal2-styled).swal2-confirm {
    background-color: #FF8232 !important;
}

button:where(.swal2-styled).swal2-confirm:focus {
    outline-color: #ffbe96 !important;
    outline-style: solid !important;
}