

/* .truncate {
    position: relative;
    .truncate-hover {
        z-index: 20;
        position: absolute;
        visibility: hidden;
        top: 40px;
        background-color: white;
        border-radius: 10px;
        padding: .6rem;
        text-wrap: wrap;
    }
    &:hover .truncate-hover {
        visibility: visible;
    }
} */