.container-auctions-with-filters {
    max-width: 1350px;
    margin: 4rem 1rem;
    position: relative;
    /* top: -114.98px; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.container-auction {
    max-width: 1200px;
    margin: 4rem 1rem;
    position: relative;
    /* top: -114.98px; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.link-standard {
    color:#fe8230;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        color: #e96f20;
    }
}


@media (min-width:1200px) {
    .container-auction {
        margin: 4rem auto;
    }
    .container-auctions-with-filters {
        margin: 4rem auto;
    }
}

/*

==========================================
SWAL
==========================================

*/

button:where(.swal2-styled).swal2-confirm {
    background-color: #fe8230 !important;
}

button:where(.swal2-styled).swal2-confirm:focus {
    outline-color: #ffc39b !important;
    outline-style: solid !important;
}
