.banner3 {
    .slick-arrow, .slick-next {
        display: none !important;
    }
}


.banner3-box {
    display: flex;
    .banner3-box-button {
        position: absolute;
        z-index: 50;
        opacity: 0;
        transform: translateY(-50px);
    }
    &:hover {
        /* background: red !important; */
        z-index: 60;
        .banner3-box-button {
            position: absolute;
            z-index: 50;
            opacity: 1;
            transform: translateY(100px);
        }
    }
}


@media (max-width: 768px) {
    .banner3-box {
        &:hover {
            .banner3-box-button {
                transform: translateY(40px);
            }
        }
    }
}

.banner-auction-status {
    .banner-auction-status__time{
        display: flex;
        gap: 9px;
        .banner-auction-status__time-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3px;
            .numb {
                font-size: 16px;
                font-weight: bold;
                border-radius: 7px;
                border: 1px solid rgba(240, 240, 240, 0.631);
                padding: 3px 5px;
            }
        }
    } 
}

.card-box-button {
    button {
        width: 100%;
        border-top: 1px solid #e5e7eb;
        padding: .5rem 0;
    }
}



/*
================================================
BANNER PAGES
================================================
*/

#banner-pages {
    background-image: url('../../assets/img/bg-login.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
    .div-backdrop{
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        width: 100%;
        min-height: 400px;
    }
    h1 {
        font-size: 3rem;
        color: white;
    }
}
