.image {
    /* background-image: url('../../assets/img/bg-register2.jpg');
    background-position: top center;
    background-size: cover; */
}

.registerPage {
    min-height: calc(100vh - 105px);
}

